.heading { padding: 40px; text-align: center; }

.pure-g-r.pure-center {
  float: none;
  margin: auto auto;
  text-align: center;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-color: #666;
  font-weight: 300;
  text-align: left;
}

h1 { margin: 20px; text-align: center; }

p { font-color: #666; text-align: left; line-height: 20px; }

a,
a:visited { color: #B11F24; }
a:hover { color: #841B1E; }

.post-header { padding-bottom: 10px; width: 100%; border-bottom: 3px solid #f0f0f0; }

ul.posts { list-style-type: none; text-align: left; margin: 0; padding: 0; }

.posts > li > .date { width: 100px; margin-left: -100px; color: #999; font-weight: 100; }

.posts > li > a { text-decoration: none; font-size: 20px; }

.posts > li { padding: 20px 0; }

.subtle { color: #999; }
.center-text { text-align: center; margin: auto auto; }
.tagline { padding-bottom: 40px; }