* {
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -160px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.page-wrap:after {
  height: 160px; 
}

.footer { height: 100px; }

.heading { padding: 40px 0; text-align: center; }

.pure-g-r.pure-center {
  float: none;
  margin: auto auto;
  text-align: center;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-color: #666;
  font-weight: 300;
  text-align: left;
}

h1 { margin: 20px; text-align: center; }

p { font-color: #666; text-align: left; line-height: 20px; }

a,
a:visited { color: #B11F24; }
a:hover { color: #841B1E; }

.post-header { padding-bottom: 10px; width: 100%; border-bottom: 3px solid #f0f0f0; }

ul.posts { list-style-type: none; text-align: left; margin: 0; padding: 0; }

.posts > li > .date { 
  width: 100px; 
  margin-left: -100px; 
  color: #999; 
  font-weight: 100;
} @media(max-width: 767px) {
  .posts > li > .date { margin-left: 0; width: 100%; }
}

.posts > li > a { text-decoration: none; font-size: 20px; }

.posts > li { padding: 20px 0; }

.subtle { color: #999; }
.pull-left { float: left; }
.pull-right { float: right; }
.center-text { text-align: center; margin: auto auto; }
.tagline { padding-bottom: 40px; }
.tagline a { text-decoration: none; }

.footer { margin-top: 60px; border-top: thin solid #f0f0f0; opacity: 0.8; color: #c6c6c6; background-color: #fafafa; }
.footer:hover { border-top: thin solid #f1f1f1; opacity: 1; }
.footer a,
.footer a:visited { color: #999; }
.footer a:hover { color: #777; }
.footer .icons { font-size: 20px; margin-top: 33px; }
.footer .icons a { text-decoration: none; }
.footer .icons i { line-height: 1; }
