.heading { padding: 60px; text-align: center; }

.pure-g-r.pure-center {
  float: none;
  margin: auto auto;
  text-align: center;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-color: #666;
  font-weight: 300;
  text-align: left;
}

h1 { margin: 20px; text-align: center; }

p { font-color: #666; text-align: left; line-height: 20px; }

a { color: ; }

.meta { color: #888; }