<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <a href="/"><img src="/assets/localmotion.png" width="150px" alt="Localmotion"></img> </a>
              <br>
              <h1 class='hero'>Boise's Ruby Source</h1>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact"> 
                <p>
                  Nick Bender<br />
                  Community Organizer<br />
                  nickbender@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/localmotion/">github.com/localmotion</a><br />
                  <a href="http://twitter.com/localmotionid/">twitter.com/localmotionid</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
